#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#note-panel {
  margin: auto;
  padding: 1em 2em;
  border: white 1px solid;
  border-radius: 16px;
  min-height: 486px;
  min-width: 480px;
}

.to-do-list {
  display: flex;
  flex-direction: column;
}

.to-do-item {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  
  &, & > * {
    cursor: pointer;
  }
  &.checked {
    color: grey;
    
    & > span,
    & > input {
      text-decoration: line-through;
    }
    & > button {
      display: none;
    }
  }
  &.checked, &.checked>* {
    cursor: default;
  }
  & > input[type=text] {
    margin: 0;
    padding: 0;
    border: transparent 1px solid;
    outline: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    flex-grow: 1;
  }
  &:not(.add-to-do) > input[type=text] {
    &:not(:disabled):hover {
      border-bottom: grey 1px solid;
    }
    &:focus {
      border-bottom: grey 1px solid;

    }
    &:hover, &:focus {
      transition: border 0.5s;
    }
  }
  & > span#id {
    display: none;
    position: absolute;
    font-size: 0.65em;
  }
  & > button.close-button {
    border: transparent;
    background-color: transparent;
    text-align: center;
    align-content: center;
    border-radius: 4px;
    &:hover {
      color: #969696d5;

      background-color: #ffffff17;
    }
  }
}
