#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  
}
#note-panel {
  margin: auto;
  padding: 1em 2em;
  border: white 1px solid;
  border-radius: 16px;
  min-height: 486px;
}

.to-do-list {
  display: flex;
  flex-direction: column;
}

.to-do-item {
  display: flex;
  flex-direction: row;
  &>* {
    cursor:pointer ;
  }
}

.to-do-item.checked,
.to-do-item.checked>* {
  cursor: default;
}

.to-do-item.checked>span {
  text-decoration: line-through;
}

.to-do-item.new-one {
  background-color: transparent;
}